:root {
  --primary-color: #a8d297;
  --btn-color: #89ac6c;
  --hover-color: #64775d;
  --shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: 800px) {
  .body {
    padding: 20px;
  }

  .media-img {
    order: 2;
  }

  .mediapx {
    order: 1;
  }

  div {
    padding: 10px;
  }

  h2.short-descr {
    margin-top: 0px;
  }
}
body {
  margin: 60px auto;
  max-width: 800px;
  background: linear-gradient(100deg, #fcf9f8 70%, #e2d1c3 2%);
}

.navbar {
  opacity: 80%;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0 auto;
}

h1 {
  font-size: 90px;
  padding-bottom: 25px;
}

h2 {
  font-size: 45px;
}

h2.inquiry {
  padding-bottom: 30px;
}

h3 {
  font-size: 22px;
  opacity: 0.7;
}
p {
  text-align: center;
  padding: 8px;
  line-height: 1.5;
}
.media {
  text-align: center;
  padding: 8px;
  line-height: 1.5;
}

.small {
  text-align: center;
}

.btn.home {
  min-width: 120px;
  max-width: 120px;
}

.home {
  background-color: var(--btn-color);
  transition-duration: 150ms;
  color: white;
  border: 1px solid var(--btn-color);
}

.home:hover {
  background-color: var(--hover-color);
  color: white;
  box-shadow: var(--shadow);
  border: 1px solid var(--hover-color);
}

.btn.project {
  display: block;
  width: 220px;
  margin: 20px auto;
}

.contact-link.project {
  background-color: #89ac6c;
  color: white;
  box-shadow: var(--shadow);
}

.contact-link.project:hover {
  background-color: var(--hover-color);
  transition-duration: 150ms;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

p .email-link {
  text-decoration: none;
  color: var(--hover-color);
}

p .email-link:hover {
  color: rgb(61, 61, 61);
  text-decoration: underline;
  transition-duration: 250ms;
}

.socials {
  margin-top: 100px;
}

.profile-links a {
  font-size: 25px;
  color: var(--btn-color);
  margin-top: 0px;
  margin-left: 15px;
  margin-right: 15px;
}

.profile-links a:hover {
  color: var(--hover-color);
  transition-duration: 250ms;
  text-decoration: none;
}

.sources {
  margin-top: 50px;
}

div.align-items-center {
  padding: 10px;
}

.about-paragraphs {
  text-align: center;
  display: flex;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  margin-bottom: 30px;
}

.container {
  margin-top: 30px;
  padding-top: 20px;
}

.container.descr {
  border: 1px solid rgb(226, 225, 225);
  border-radius: 4px;
  box-shadow: var(--shadow);
}

p.small {
  font-size: 10px;
}

p.small.sources a {
  color: var(--hover-color);
}
